.home_page {
  height: 100%;
  // position: ;
  .play_button {
    width: 200px;
    height: 50px;
    border-radius: 35.5px;
    border: none;
    outline: none;
    background: linear-gradient(#525faa 0%, #2ca5a6 100%);
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
    position: absolute;
    top: 59vh;
    left: 43vw;
    padding-left: 30px;
    img {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .navbar {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 50px;
    .text {
      text-decoration: none;
      font-family: Montserrat;
      cursor: pointer;
      font-weight: 500;
      font-size: 15px;
      color: #fff;
    }
  }

  .home_page_content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 200px);
    flex-direction: column;
    h1 {
      font-family: Montserrat;
      // font-weight: bold;
      font-size: 40px;
      line-height: 60px;
      text-align: center;
      color: #fff;
      span {
        border-radius: 10px;
        text-shadow: 3px 3px 20px rgb(121, 83, 224), -2px 1px 30px rgb(121, 83, 224);
        padding: 5px 10px;
      }
    }
    h2 {
      font-weight: bold;
      font-size: 25px;
      padding-top: 10px;
    }
    p {
      bottom: 10px;
      font-family: Montserrat;
      font-weight: 500;
      font-size: 14px;
      position: absolute;
    }
  }
  .top_spinning_logo {
    .singular_logo {
      position: absolute;
      top: 8px;
      height: 65px;
      width: 70px;
      left: 50%;
      margin-left: -39px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .welcome_page_ball {
      position: absolute;
      top: 14px;
      height: 50px;
      width: 50px;
      left: 50%;
      margin-left: -30px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
        animation-name: example;
        position: relative;
        animation-duration: 6s;
        animation-fill-mode: forwards;
      }
    }
  }
  .board-section {
    position: relative;
    background-color: red;
    top: 81.5vh;
    .board {
      width: 150px;
      height: 8px;
      background-color: #4fe0b5;
      margin-top: 3rem;
      box-shadow: 0px 3px 15px #7953e0;
      position: absolute;
      animation-name: baord;
      animation-duration: 6s;
      animation-fill-mode: forwards;
      // top: 0;
    }
  }
}
@keyframes baord {
  0% {
    left: -190px;
  }
  15% {
    left: -190px;
  }
  30% {
    left: 43vw;
  }
  45% {
    left: 40vw;
  }
  60% {
    left: 45vw;
  }
  75% {
    left: 47vw;
  }
  90% {
    left: 45vw;
  }
  100% {
    left: 100vw;
  }
}

@keyframes example {
  0% {
    left: 0px;
    top: 0px;
    opacity: 1;
  }
  15% {
    left: 0px;
    top: 0px;
    opacity: 1;
  }
  30% {
    left: 0px;
    top: 79vh;
    opacity: 1;
  }
  45% {
    top: 60vh;
    left: -110px;
    opacity: 1;
  }
  60% {
    top: 79vh;
    left: 0px;
    opacity: 1;
  }
  75% {
    top: 60vh;
    left: 110px;
    opacity: 1;
  }
  90% {
    top: 79vh;
    left: 0px;
    opacity: 1;
  }
  95% {
    top: 59vh;
    left: -75px;
    opacity: 1;
  }
  100% {
    top: 59vh;
    left: -75px;
    opacity: 0;
  }
}
